@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-family: "League Spartan", sans-serif;*/
@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/Gagalin-Regular.otf') format(opentype);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --white-color: #FFF8F0;
    --gray-color: #D9D9D9;
    --gray2-color: #adadad;

    --highlight-color: #EF30CB;
    --p-color: #6A0F49;
    --darker-color: #0D0D0C;
}


body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: var(--darker-color);
}


/* HEADER */
header{
    position: relative;
    padding: 0px 2rem;
    background-color: var(--darker-color);
    box-shadow: 0px 1px 5px  var(--p-color);
}

.nav-bar{
    width: 100%;
    height: 70px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    height: 40px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.1rem;
}

.nav-bar ul.links{
    display: flex;
    gap: 2rem;
}

ul.links a{
    color: var(--gray-color);
}
ul.links a:hover {
    color: var(--white-color);
    scale: 1.03;
    transition: .2s;
}
ul.links a:active {
    color: var(--white-color);
    scale: .95;
    transition: .2s;
}

.btn-contato{
    font-size: 1.16rem;
    font-weight: 600;
    background-color: var(--highlight-color);
    padding: 4px 6px;
    border-radius: 10px;
    color: var(--white-color); 
}
.btn-contato:hover{
    background-color: var(--white-color);
    color: var(--darker-color);
    scale: 1.02;
    transition: .2s;
}
.btn-contato:active{
    scale: .95;
}

.nav-bar .btn-menu-wrap{
    cursor: pointer;
    color: var(--white-color);
    font-size: 1.3rem;
    cursor: pointer;
    display: none;
}
/*Main*/
main{
    height: 100%;
    width: 100%;
}
main img#ilogop{
    width: 55%;
}

.aligncenter{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*Sobre*/
section#isobre{
    width: 100%;
    margin-top: 450px;
    display: flex;
}

.imgleft{
    width: 80%;
    height: 600px;
}

.txtright{
    width: 100%;
    height: 600px;
}

section#isobre .imgleft img{
    width: 80%;
}
section#isobre .txtright h1{
    color: white;
    display: block;
    text-align: left;
    font-size: 1.9em;
}

.aligncleft{
    position: relative;
    top: 30%;
    justify-content: left;
}
section#isobre .txtright p{
    color: white;
    display: block;
    text-justify: auto;
    width: 90%;
    font-size: 20px;
}

/*Menu Mobile*/

.drop-down-menu{
    position: absolute;
    right: 2rem;
    top: 80px;
    height: 0px;
    width: 300px;
    background-color: rgba(106, 15, 73, 0.77);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drop-down-menu.open{
    height: 272px;
}

.drop-down-menu li{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drop-down-menu a.btn-contato{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*DESIGN RESPONSIVO*/
@media (max-width: 880px){
    .nav-bar ul.links, .nav-bar a.btn-contato{
        display: none;
    }  

    .nav-bar .btn-menu-wrap{
        display: block;
    }

    .drop-down-menu{
        display: block;
    }
}

@media (max-width: 576px){
    .drop-down-menu{
        left: 2rem;
        width: unset;
        
    }
}